


</style>
<div class="card" >
<!--   <img class="card-img-top" src="..." alt="Card image cap">
 -->  <div class="card-block">
        <h2 class="card-title"><%=movie.Title%></h2>
        <h4 class="card-title">Posted by <%=link_to movie.Username, :controller => :users_show, :action => :show,:id => movie.user_id%>      
        	<%if (Time.now - movie.created_at.to_time)>1.day%>
          <td>at <%= ((Time.now - movie.created_at.to_time)/1.day).round
          %> days ago</td>
        <%else%>
          <%if (Time.now - movie.created_at.to_time)>1.hour%>
            <td>at <%= ((Time.now - movie.created_at.to_time)/1.hour).round
            %> hours ago</td>
          <%else%>
            <td>at <%= ((Time.now - movie.created_at.to_time)/1.minute).round%> minutes ago</td>
          <%end%>
        <%end%>


        </h4>



        <p class="card-text"><%=movie.Description%></p>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-xs-6">
        <a class="btn btn-primary"><%= link_to 'Show', movie %></a>
        <%if user_signed_in?%>

            <%if current_user.id==movie.user_id%>
              <a class="btn btn-primary"><%= link_to 'Edit', edit_movie_path(movie) %></a>

              <a class="btn btn-primary"><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></a>
            <%end%>
        <%end%>
      </div>
      <div class="col-sm-6 col-md-6 col-xs-6 movie">
        
           
       <%@id=movie.id%>
       <%@Number_of_likes=movie.get_likes.size.to_s%>

       <%= button_to @Number_of_likes+" likes", like_movie_path(@id),:method => :get%>

       <%@Number_of_hates=movie.get_downvotes.size.to_s%>

       <%= button_to @Number_of_hates+" hates", hate_movie_path(@id),:method => :get%>


      </div>
      <%if current_user.present? and current_user.voted_up_on? movie%>
        <p style="margin-left:20px">You liked this movie</p>
      <%elsif current_user.present? and current_user.voted_down_on? movie%>
        <p style="margin-left:20px">You hated this movie</p>
      <%end%>
    </div>
      </div>
  </div>

